/* @theme UNRN */
/* Author: martinvilu https://github.com/martinvilu/ */

@import "gaia";

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --color-background: #fff;
  --color-foreground: #1b2437;
  --color-highlight: #eb2141;
}

section {
  background-image: none;
  font-family: "Chivo", sans-serif;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: middle;
}

section footer{
    background-color: #1b2437;
    color: white;
}

/*
Controla el texto y formato de la numeración de las diapositivas
*/
/* https://github.com/marp-team/marpit/issues/271 */
section::after {
  font-weight: 600;
  content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
}

/* Para usar, scoped class*/
/* <!-- _class: centered --> */
section.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

ul ul {
  font-size: 0.9em;
}

h1 {
  transform: rotate(-2deg);
  width: 100%;
}

/* <!-- _class: inverse --> */
section.inverse {
    background-color: #eb2141;
    color: #ffffff;
}

section.inverse header {
    background-color: #fff;
    color: #eb2141;
}

section.inverse footer {
    background-color: #fff;
    color: #1b2437;
}


/* <!-- _class: lead --> */
section.lead h1 {
  font-size: 3em;
  color: #eb2141;
  text-align: left;
}
section.lead h1 strong {
  -webkit-text-stroke: 1px #eb2141;
}
section.lead h2 {
  color: #eb2141;
  text-align: left;
}
section.lead h2 strong {
  -webkit-text-stroke: 1px #eb2141;
}
section.lead h3 {
  color: #eb2141;
  text-align: left;
}
section.lead h3 strong {
  -webkit-text-stroke: 1px #eb2141;
}
section.lead h4 {
  color: #eb2141;
  text-align: left;
}
section.lead h4 strong {
  -webkit-text-stroke: 1px #eb2141;
}
section.lead h5 {
  color: #eb2141;
  text-align: left;
}
section.lead h5 strong {
  -webkit-text-stroke: 1px #eb2141;
}
section.lead p {
  text-align: right;
}

header {
  background-color: #eb2141;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}

blockquote {
  max-width: 90%;
  border-top: 0.1em dashed #ff0000;
  font-size: 60%;
  position: absolute;
  bottom: 20px;
}

blockquote::before {
  content: "";
}

blockquote::after {
  content: "";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

code {
  font-family: "JetBrains Mono", monospace;
  background-color: #707070;
}
